[submodule "job_applier"]
	path = job_applier
	url = git@github.com:Core310/arika-autoapplier.git
[submodule "school"]
	path = school
	url = git@github.com:Core310/auto-canvas.git
[submodule "auto_lc"]
	path = auto_lc
	url = git@github.com:Core310/auto-lc.git
