# Documenso Environment Configuration

# PostgreSQL Credentials
POSTGRES_PASSWORD=710ee0f18ade92c20cad33e73614e807c594b1c0693129e9

# Application Encryption Keys & Secrets
NEXTAUTH_SECRET=fd5026ca7891fb0d76b5ec636c96dc16188d79fa79402bba78292f143ae74025
NEXT_PRIVATE_ENCRYPTION_KEY=0ace06541ddbe2ca1bfa6dddf6d9105e9874e184e6e6aa2aeb8c532ce415b30e
NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY=a59254514305d94e3adafb498a58877f07d5d1cde1e0453363b1e38532bfa324
NEXT_PRIVATE_SIGNING_PASSPHRASE=2300c9a24380da5ab798eac66a122715

# Gmail SMTP Settings
NEXT_PRIVATE_SMTP_TRANSPORT=smtp-auth
NEXT_PRIVATE_SMTP_HOST=smtp.gmail.com
NEXT_PRIVATE_SMTP_PORT=587
NEXT_PRIVATE_SMTP_SECURE=false
SMTP_FROM_NAME=Documenso
GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASS=your_16_char_google_app_password
